@import '../../partials/colors';

.expense {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: $lightGrey;
  width: 700px;
  &__description {
    margin-left: 1rem;
    display: flex;
    // flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  &__title {
    font-size: 1rem;
    flex: 1;
  }
  &__price {
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 15px;
  }
}